html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: grid;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loader {
  border: 10px solid white;
  border-top: 10px solid darkblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* hide Firebase Emulator warning banner, we are using custom one */
.firebase-emulator-warning {
  display: none;
}

.sticky-alert {
  position: fixed; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center; 
  pointer-events: none; 
}

.sticky-alert__content {
  pointer-events: auto; 
  width: 100%;
  padding: 4px;
  background: rgba(255, 255, 255, 0.9); 
  color: #800000;
  text-align: center;
  font-size: 1rem;
}